{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-5">
                <h1>Log in</h1>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control">

                    <input type="hidden" name="_target_path" value="/">

                    <br>
                    <button type="submit" class="btn btn-success">login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
