{% extends 'base.html.twig' %}

{% block title %}Mainpage{% endblock %}

{% block body %}
    <div style="
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 10%">
        {% if app.user %}
            <div class="column justify-content-center align-items-center">
                <h5>Hello.</h5>
                <br>
                <div>
                    <a class="btn btn-primary" href="{{ url("app_post_list") }}">List of posts</a>
                    <a class="btn btn-success" href="{{ url("app_post_api") }}">Post API</a>
                </div>
            </div>
        {% else %}
            <h5 style="margin-right: 5px">You are a guest. Please </h5>
            <br>
            <div>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url("app_login") }}">Sign in</a>
                <i> or </i>
                <a class="btn btn-sm btn-outline-success" href="{{ url("app_register") }}">Register</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
